<img src="{{ user.banner }}" onerror="this.src='../../../assets/img/banner.jpg'" class="banner" alt="" />
<div class="container">
  <div class="profile">
    <img [routerLink]="['/profile/'+user.id]" class="avatar link" onerror="this.src='../../../assets/img/user.jpg'" src="{{ user.profile }}" alt="logo" />
    <div class="profile-name-subs">
      <p [routerLink]="['/profile/'+user.id]" class="link">{{ user.name }}</p>
    </div>
    <div class="mx-auto"></div>

  </div>
  <div class="tab">
    <mat-tab-group animationDuration="350ms">
      <mat-tab label="Editar Producto" *ngIf="id && edit">
        <mat-card-content>
          <form action="#" #fu="ngForm" (ngSubmit)="UpdateSubmit(fu)">
            <mat-form-field>
              <input [(ngModel)]="edit.reference" matInput placeholder="Referencia" name="reference" ngModel #reference="ngModel" />
              <mat-icon matSuffix>edit</mat-icon>
              <mat-error *ngIf="reference.invalid">
                Referencia requerida
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="edit.name" matInput placeholder="Nombre" name="name" ngModel #name="ngModel" />
              <mat-icon matSuffix>edit</mat-icon>
              <mat-error *ngIf="name.invalid">
                Nombre requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="number" [(ngModel)]="edit.unit_value" matInput placeholder="Valor Unitario" name="unit_value" ngModel #unit_value="ngModel" />
              <mat-icon matSuffix>edit</mat-icon>
              <mat-error *ngIf="unit_value.invalid">
                Valor Unitario requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <textarea [(ngModel)]="edit.description" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5"
                placeholder="Descripción" name="description" ngModel #description="ngModel"></textarea>
              <mat-icon matSuffix>edit</mat-icon>
              <mat-error *ngIf="description.invalid">
                Descripción requerida
              </mat-error>
            </mat-form-field>


            <input (change)="ImgChange($event)" class="ng-hide" id="img" name="img" type="file"
              accept="image/*" />
            <label for="img" class="file-button">
              <mat-icon>image</mat-icon> Subir Imagen: <span id="size"></span>
            </label>

            <button mat-raised-button color="primary" class="auth-button">
              Editar
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Registrar Producto" *ngIf="!id || !edit">
        <mat-card-content>
          <form action="#" #fu="ngForm" (ngSubmit)="UploadSubmit(fu)">
            <mat-form-field>
              <input matInput placeholder="Referencia" name="reference" ngModel #reference="ngModel" required/>
              <mat-icon matSuffix>edit</mat-icon>
              <mat-error *ngIf="reference.invalid">
                Referencia requerida
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Nombre" name="name" ngModel #name="ngModel" required/>
              <mat-icon matSuffix>edit</mat-icon>
              <mat-error *ngIf="name.invalid">
                Nombre requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="Valor Unitario" name="unit_value" ngModel #unit_value="ngModel" required/>
              <mat-icon matSuffix>edit</mat-icon>
              <mat-error *ngIf="unit_value.invalid">
                Valor Unitario requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5" required
                placeholder="Descripción" name="description" ngModel #description="ngModel"></textarea>
              <mat-icon matSuffix>edit</mat-icon>
              <mat-error *ngIf="description.invalid">
                Descripción requerida
              </mat-error>
            </mat-form-field>

           
            <input (change)="ImgChange($event)" class="ng-hide" id="img" name="img" type="file" required
              accept="image/*" />
            <label for="img" class="file-button">
              <mat-icon>image</mat-icon> Subir Imagen: <span id="size"></span>
            </label>

            <button mat-raised-button color="primary" class="auth-button">
              Publicar
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0,0,0,0.5)"
  size="large"
  color="#fff"
  type="pacman"
></ngx-spinner>