<div class="row no-gutters">
  <div class="col-12">
    <h1 class="recommended">{{ title }}</h1>
  </div>

  <div class="card col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 justify-content-left d-flex"
    style="margin-bottom: 10px; cursor: pointer;" *ngFor="let product of products">
    <div>
      <div [routerLink]="['/product/'+product.id]" class="img-container">
        <img onerror="this.src='../../../assets/img/thumbnail.jpg'" class="card-image" src="{{ product.img }}"
          alt="Thumbnail" />
        
        <div class="later-div">Accion #1</div>
      </div>
      <div class="card-content">
        <div class="d-flex mt-2">
          <img alt="User" onerror="this.src='../../../assets/img/user.jpg'" [routerLink]="['/profile/'+product.seller_id]"
            class="avatar" src="{{ product.profile }}" />
            <p [routerLink]="['/product/'+product.id]" class="text">
            {{ product.name | slice: 0:70 }}</p>
            <button class="btn-add" *ngIf="is_auth" mat-icon-button>
              <mat-icon (click)="add(product.id,this._api.getUser)" class="txt-teal">add_shopping_cart</mat-icon>
            </button>
          <div style="flex-grow: 1;"></div>
          <mat-icon class="more-icon">more_vert</mat-icon>
        </div>
        <p [routerLink]="['/profile/'+product.seller_id]" class="title">
          {{ product.user_name }}
          
        </p>
        <p class="sub-title">{{ product.created_at }} </p>
        
       
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0,0,0,0.5)"
  size="large"
  color="#fff"
  type="pacman"
></ngx-spinner>